<div class="featured-ride-providers">
  <div class="container">
    <div class="text-center">
      <h2>Featured Ride/Gear Providers</h2>
    </div>
    <div class="col-md-4 wow fadeInDown">
      <%= image_tag("home_page/cycle_p_1.png", class: "img-responsive") %>
      <h3>Nimbus(bicycle/surfboard/snowboard)</h3>
      <p>Location: Copenhegen</p>
      <div class="rating">
        <span><i class="fa fa-star" aria-hidden="true"></i></span>
        <span><i class="fa fa-star" aria-hidden="true"></i></span>
        <span><i class="fa fa-star" aria-hidden="true"></i></span>
        <span><i class="fa fa-star" aria-hidden="true"></i></span>
        <span><i class="fa fa-star-half-o" aria-hidden="true"></i></span>
      </div>
    </div>

    <div class="col-md-4 wow fadeInDown">
      <%= image_tag("home_page/cycle_p_2.jpg", class: "img-responsive") %>
      <h3>Biomega(bicycle/surfboard/snowboard)</h3>
      <p>Location: Copenhegen</p>
      <div class="rating">
        <span><i class="fa fa-star" aria-hidden="true"></i></span>
        <span><i class="fa fa-star" aria-hidden="true"></i></span>
        <span><i class="fa fa-star" aria-hidden="true"></i></span>
        <span><i class="fa fa-star" aria-hidden="true"></i></span>
        <span><i class="fa fa-star-half-o" aria-hidden="true"></i></span>
      </div>
    </div>

    <div class="col-md-4 wow fadeInDown">
      <%= image_tag("home_page/cycle_p_6.jpg", class: "img-responsive") %>
      <h3>Canyon Bicycles(bicycle)</h3>
      <p>Location: Copenhegen</p>
      <div class="rating">
        <span><i class="fa fa-star" aria-hidden="true"></i></span>
        <span><i class="fa fa-star" aria-hidden="true"></i></span>
        <span><i class="fa fa-star" aria-hidden="true"></i></span>
        <span><i class="fa fa-star" aria-hidden="true"></i></span>
        <span><i class="fa fa-star-half-o" aria-hidden="true"></i></span>
      </div>
    </div>

    <div class="col-md-4 wow fadeInDown">
      <%= image_tag("home_page/cycle_p_2.jpg", class: "img-responsive") %>
      <h3>Le Mond Racing(bicycle/surfboard)</h3>
      <p>Location: Copenhegen</p>
      <div class="rating">
        <span><i class="fa fa-star" aria-hidden="true"></i></span>
        <span><i class="fa fa-star" aria-hidden="true"></i></span>
        <span><i class="fa fa-star" aria-hidden="true"></i></span>
        <span><i class="fa fa-star" aria-hidden="true"></i></span>
        <span><i class="fa fa-star-half-o" aria-hidden="true"></i></span>
      </div>
    </div>

    <div class="col-md-4 wow fadeInDown">
      <%= image_tag("home_page/cycle_p_1.png", class: "img-responsive") %>
      <h3>Jan Janssen(bicycle)</h3>
      <p>Location: Copenhegen</p>
      <div class="rating">
        <span><i class="fa fa-star" aria-hidden="true"></i></span>
        <span><i class="fa fa-star" aria-hidden="true"></i></span>
        <span><i class="fa fa-star" aria-hidden="true"></i></span>
        <span><i class="fa fa-star" aria-hidden="true"></i></span>
        <span><i class="fa fa-star-half-o" aria-hidden="true"></i></span>
      </div>
    </div>

    <div class="col-md-4 wow fadeInDown">
      <%= image_tag("home_page/cycle_p_2.jpg", class: "img-responsive") %>
      <h3>Matra(surfboard/snowboard)</h3>
      <p>Location: Copenhegen</p>
      <div class="rating">
        <span><i class="fa fa-star" aria-hidden="true"></i></span>
        <span><i class="fa fa-star" aria-hidden="true"></i></span>
        <span><i class="fa fa-star" aria-hidden="true"></i></span>
        <span><i class="fa fa-star" aria-hidden="true"></i></span>
        <span><i class="fa fa-star-half-o" aria-hidden="true"></i></span>
      </div>
    </div>

    <div class="col-md-4 wow fadeInDown">
      <%= image_tag("home_page/cycle_p_6.jpg", class: "img-responsive") %>
      <h3>Focus Bikes(bicycle/surfboard)</h3>
      <p>Location: Copenhegen</p>
      <div class="rating">
        <span><i class="fa fa-star" aria-hidden="true"></i></span>
        <span><i class="fa fa-star" aria-hidden="true"></i></span>
        <span><i class="fa fa-star" aria-hidden="true"></i></span>
        <span><i class="fa fa-star" aria-hidden="true"></i></span>
        <span><i class="fa fa-star-half-o" aria-hidden="true"></i></span>
      </div>
    </div>

    <div class="col-md-4 wow fadeInDown">
      <%= image_tag("home_page/cycle_p_2.jpg", class: "img-responsive") %>
      <h3>Bottecchia(bicycle/surfboard)</h3>
      <p>Location: Copenhegen</p>
      <div class="rating">
        <span><i class="fa fa-star" aria-hidden="true"></i></span>
        <span><i class="fa fa-star" aria-hidden="true"></i></span>
        <span><i class="fa fa-star" aria-hidden="true"></i></span>
        <span><i class="fa fa-star" aria-hidden="true"></i></span>
        <span><i class="fa fa-star-half-o" aria-hidden="true"></i></span>
      </div>
    </div>

    <div class="col-md-4 wow fadeInDown">
      <%= image_tag("home_page/cycle_p_1.png", class: "img-responsive") %>
      <h3>Diamant(bicycle/surfboard/snowboard)</h3>
      <p>Location: Copenhegen</p>
      <div class="rating">
        <span><i class="fa fa-star" aria-hidden="true"></i></span>
        <span><i class="fa fa-star" aria-hidden="true"></i></span>
        <span><i class="fa fa-star" aria-hidden="true"></i></span>
        <span><i class="fa fa-star" aria-hidden="true"></i></span>
        <span><i class="fa fa-star-half-o" aria-hidden="true"></i></span>
      </div>
    </div>
  </div>
</div>
