<div class="container signup-form">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="panel panel-registration">
        <div class="panel-heading">
          <div class="row">
            <div class="col-md-12">
              <h4 class="active" id="register-form-link">Register</h4>
            </div>
          </div>
          <hr>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-lg-12">
              <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                  <%= devise_error_messages! %>

                  <div class="field form-group">
                    <%= f.email_field :email, id: "username", tabindex: "1",
                      class: "form-control", placeholder: "Email", autofocus: true %>
                  </div>

                  <div class="field form-group">
                    <%= f.password_field :password, id: "password", tabindex: "2",
                      class: "form-control", placeholder:"Password", autocomplete: "off" %>
                  </div>

                  <div class="field form-group">
                    <%= f.password_field :password_confirmation, id: "confirm-password", tabindex: "3",
                      class: "form-control", placeholder:"Confirm password", autocomplete: "off" %>
                  </div>

                  <div class="actions form-group">
                    <div class="row">
                      <%= f.submit "Sign up", id: "register-submit", tabindex: "4",
                        class: "form-control btn btn-register" %>
                    </div>
                  </div>
              <% end %>
              <div class="form-group">
                <div class="third-party-login row">
                  <div class="col-md-6 form-group">
                    <%= link_to "Sign up with Facebook", user_facebook_omniauth_authorize_path,
                      class: "btn btn-primary btn-lg fb-provider " %>
                  </div>
                  <div class="col-md-6 form-group">
                    <%= link_to "Sign up with Google", user_google_omniauth_authorize_path,
                      class: "btn btn-danger btn-lg google-provider " %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
